In [82]:
import requests as req

import pandas as pd

import numpy as np

from bs4 import BeautifulSoup

In [83]:
lst = [i for i in range(1,90+1)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [84]:
df['id_weather'] = lst

df

    id_weather id_country
0            1
1            2
2            3
3            4
4            5
..         ...        ...
85          86
86          87
87          88
88          89
89          90

[90 rows x 2 columns]

In [87]:
df['id_country'] = ''
df['id_country'] = ['31' if x < 10 else '188' if x < 19 else '7' if x < 28 else '37' if x < 37 else '165' if x < 46 else '187' if x < 55 else '65' if x < 64 else '9' if x < 73 else '91' if x < 82 else '85' if x < 91 else '' for x in df['id_weather']]
df

    id_weather id_country
0            1         31
1            2         31
2            3         31
3            4         31
4            5         31
..         ...        ...
85          86         85
86          87         85
87          88         85
88          89         85
89          90         85

[90 rows x 2 columns]

In [88]:
df.to_excel('countryweather.xls', index=False)

/var/folders/x5/35_m562959z2k_v0h2llkrzr0000gn/T/ipykernel_34561/3972978208.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('countryweather.xls', index=False)