In [1]:
import requests as req

import pandas as pd

import numpy as np

from bs4 import BeautifulSoup

In [2]:
# Enero

In [3]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/01/01'

In [4]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [5]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [6]:
canada_1_1=pd.read_clipboard()

canada_1_1 = canada_1_1.T.reset_index().T

canada_1_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_1_1 = canada_1_1.reset_index(drop=True)

canada_1_1_bien = canada_1_1.iloc [-1:]

canada_1_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,1,-12,38,NNE 4,1029,11,NaN

In [312]:
# Febrero

In [7]:
url ='https://www.aerisweather.com/weather/local/kr/seoul/history/2022/02/01'

In [8]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [9]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [10]:
canada_2_1=pd.read_clipboard()

canada_2_1 = canada_2_1.T.reset_index().T

canada_2_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_2_1 = canada_2_1.reset_index(drop=True)

canada_2_1_bien = canada_2_1.iloc [-1:]

canada_2_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
23,16:00,NaN,Mostly Cloudy,0,-6,64,NW 9,1026,7,NaN

In [317]:
# Marzo

In [11]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/03/01'

In [12]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [13]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [14]:
canada_3_1=pd.read_clipboard()

canada_3_1 = canada_3_1.T.reset_index().T

canada_3_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_3_1 = canada_3_1.reset_index(drop=True)

canada_3_1_bien = canada_3_1.iloc [-1:]

canada_3_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
17,16:00,NaN,Partly Cloudy,10,-1,47,W 15,1013,48,NaN

In [322]:
# Abril

In [15]:
url ='https://www.aerisweather.com/weather/local/kr/seoul/history/2022/04/01'

In [16]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [17]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [18]:
canada_4_1=pd.read_clipboard()

canada_4_1 = canada_4_1.T.reset_index().T

canada_4_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_4_1 = canada_4_1.reset_index(drop=True)

canada_4_1_bien = canada_4_1.iloc [-1:]

canada_4_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,14,-4,29,W 20,1028,11,NaN

In [327]:
# Mayo

In [19]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/05/01'

In [20]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [21]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [22]:
canada_5_1=pd.read_clipboard()

canada_5_1 = canada_5_1.T.reset_index().T

canada_5_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_5_1 = canada_5_1.reset_index(drop=True)

canada_5_1_bien = canada_5_1.iloc [-1:]

canada_5_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,18,2,34,WSW 28,1011,11,NaN

In [332]:
# Junio

In [23]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/06/01'

In [24]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [25]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [26]:
canada_6_1=pd.read_clipboard()

canada_6_1 = canada_6_1.T.reset_index().T

canada_6_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_6_1 = canada_6_1.reset_index(drop=True)

canada_6_1_bien = canada_6_1.iloc [-1:]

canada_6_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,26,6,28,WNW 19,1004,11,NaN

In [337]:
# Julio

In [27]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/07/01'

In [28]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [29]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [30]:
canada_7_1=pd.read_clipboard()

canada_7_1 = canada_7_1.T.reset_index().T

canada_7_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_7_1 = canada_7_1.reset_index(drop=True)

canada_7_1_bien = canada_7_1.iloc [-1:]

canada_7_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Partly Cloudy,30,23,66,WSW 17,1014,48,NaN

In [342]:
# Agosto

In [31]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/08/01'

In [32]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [33]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [34]:
canada_8_1=pd.read_clipboard()

canada_8_1 = canada_8_1.T.reset_index().T

canada_8_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_8_1 = canada_8_1.reset_index(drop=True)

canada_8_1_bien = canada_8_1.iloc [-1:]

canada_8_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
5,23:36,NaN,Mostly Cloudy with Thunderstorms,29,24,74,ESE 7,1005,48,NaN

In [347]:
# Septiembre

In [35]:
url = 'https://www.aerisweather.com/weather/local/kr/seoul/history/2022/09/01'

In [36]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [37]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [38]:
canada_9_1=pd.read_clipboard()

canada_9_1 = canada_9_1.T.reset_index().T

canada_9_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_9_1 = canada_9_1.reset_index(drop=True)

canada_9_1_bien = canada_9_1.iloc [-1:]

canada_9_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,29,18,52,NW 15,1013,10,0.0

In [39]:
korea_clima = pd.concat([canada_1_1_bien, canada_2_1_bien, canada_3_1_bien, canada_4_1_bien, canada_5_1_bien, canada_6_1_bien, canada_7_1_bien, canada_8_1_bien, canada_9_1_bien], axis=0)

korea_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
16,16:00,NaN,Mostly Sunny,1,-12,38,NNE 4,1029,11,NaN
23,16:00,NaN,Mostly Cloudy,0,-6,64,NW 9,1026,7,NaN
17,16:00,NaN,Partly Cloudy,10,-1,47,W 15,1013,48,NaN
16,16:00,NaN,Mostly Sunny,14,-4,29,W 20,1028,11,NaN
16,16:00,NaN,Mostly Sunny,18,2,34,WSW 28,1011,11,NaN
16,16:00,NaN,Mostly Sunny,26,6,28,WNW 19,1004,11,NaN
16,16:00,NaN,Partly Cloudy,30,23,66,WSW 17,1014,48,NaN
5,23:36,NaN,Mostly Cloudy with Thunderstorms,29,24,74,ESE 7,1005,48,NaN
16,16:00,NaN,Mostly Sunny,29,18,52,NW 15,1013,10,0.0

In [40]:
korea_clima['date_weather'] = ('2022-1-1', '2022-2-1', '2022-3-1', '2022-4-1', '2022-5-1', '2022-6-1', '2022-7-1', '2022-8-1', '2022-9-1')

korea_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather
16,16:00,NaN,Mostly Sunny,1,-12,38,NNE 4,1029,11,NaN,2022-1-1
23,16:00,NaN,Mostly Cloudy,0,-6,64,NW 9,1026,7,NaN,2022-2-1
17,16:00,NaN,Partly Cloudy,10,-1,47,W 15,1013,48,NaN,2022-3-1
16,16:00,NaN,Mostly Sunny,14,-4,29,W 20,1028,11,NaN,2022-4-1
16,16:00,NaN,Mostly Sunny,18,2,34,WSW 28,1011,11,NaN,2022-5-1
16,16:00,NaN,Mostly Sunny,26,6,28,WNW 19,1004,11,NaN,2022-6-1
16,16:00,NaN,Partly Cloudy,30,23,66,WSW 17,1014,48,NaN,2022-7-1
5,23:36,NaN,Mostly Cloudy with Thunderstorms,29,24,74,ESE 7,1005,48,NaN,2022-8-1
16,16:00,NaN,Mostly Sunny,29,18,52,NW 15,1013,10,0.0,2022-9-1

In [41]:
korea_clima['city_weather'] = 'Seoul'

korea_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather,city_weather
16,16:00,NaN,Mostly Sunny,1,-12,38,NNE 4,1029,11,NaN,2022-1-1,Seoul
23,16:00,NaN,Mostly Cloudy,0,-6,64,NW 9,1026,7,NaN,2022-2-1,Seoul
17,16:00,NaN,Partly Cloudy,10,-1,47,W 15,1013,48,NaN,2022-3-1,Seoul
16,16:00,NaN,Mostly Sunny,14,-4,29,W 20,1028,11,NaN,2022-4-1,Seoul
16,16:00,NaN,Mostly Sunny,18,2,34,WSW 28,1011,11,NaN,2022-5-1,Seoul
16,16:00,NaN,Mostly Sunny,26,6,28,WNW 19,1004,11,NaN,2022-6-1,Seoul
16,16:00,NaN,Partly Cloudy,30,23,66,WSW 17,1014,48,NaN,2022-7-1,Seoul
5,23:36,NaN,Mostly Cloudy with Thunderstorms,29,24,74,ESE 7,1005,48,NaN,2022-8-1,Seoul
16,16:00,NaN,Mostly Sunny,29,18,52,NW 15,1013,10,0.0,2022-9-1,Seoul

In [43]:
korea_clima.to_excel('korea_clima.xls', index=False)

/var/folders/x5/35_m562959z2k_v0h2llkrzr0000gn/T/ipykernel_30226/407027416.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  korea_clima.to_excel('korea_clima.xls', index=False)