In [7]:
import requests as req

import pandas as pd

import numpy as np

from bs4 import BeautifulSoup

In [8]:
# Enero

In [9]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/01/01'

In [10]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [11]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [12]:
canada_1_1=pd.read_clipboard()

canada_1_1 = canada_1_1.T.reset_index().T

canada_1_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_1_1 = canada_1_1.reset_index(drop=True)

canada_1_1_bien = canada_1_1.iloc [-1:]

canada_1_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Mostly Cloudy,14,10,77,SW 15,1016,48,NaN

In [312]:
# Febrero

In [13]:
url ='https://www.aerisweather.com/weather/local/gb/london/history/2022/02/01'

In [14]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [15]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [16]:
canada_2_1=pd.read_clipboard()

canada_2_1 = canada_2_1.T.reset_index().T

canada_2_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_2_1 = canada_2_1.reset_index(drop=True)

canada_2_1_bien = canada_2_1.iloc [-1:]

canada_2_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Partly Cloudy,14,6,59,W 30,1020,48,NaN

In [317]:
# Marzo

In [17]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/03/01'

In [18]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [19]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [20]:
canada_3_1=pd.read_clipboard()

canada_3_1 = canada_3_1.T.reset_index().T

canada_3_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_3_1 = canada_3_1.reset_index(drop=True)

canada_3_1_bien = canada_3_1.iloc [-1:]

canada_3_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Cloudy with Light Rain,8,7,93,ENE 15,1025,9,NaN

In [322]:
# Abril

In [21]:
url ='https://www.aerisweather.com/weather/local/gb/london/history/2022/04/01'

In [22]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [23]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [24]:
canada_4_1=pd.read_clipboard()

canada_4_1 = canada_4_1.T.reset_index().T

canada_4_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_4_1 = canada_4_1.reset_index(drop=True)

canada_4_1_bien = canada_4_1.iloc [-1:]

canada_4_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Partly Cloudy with Light Rain,5,-1,66,ENE 24,1018,48,NaN

In [327]:
# Mayo

In [25]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/05/01'

In [26]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [27]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [28]:
canada_5_1=pd.read_clipboard()

canada_5_1 = canada_5_1.T.reset_index().T

canada_5_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_5_1 = canada_5_1.reset_index(drop=True)

canada_5_1_bien = canada_5_1.iloc [-1:]

canada_5_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Mostly Cloudy,14,6,59,VRB 13,1022,48,NaN

In [332]:
# Junio

In [29]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/06/01'

In [30]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [31]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [32]:
canada_6_1=pd.read_clipboard()

canada_6_1 = canada_6_1.T.reset_index().T

canada_6_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_6_1 = canada_6_1.reset_index(drop=True)

canada_6_1_bien = canada_6_1.iloc [-1:]

canada_6_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Mostly Sunny,17,6,49,W 9,1018,48,NaN

In [337]:
# Julio

In [33]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/07/01'

In [34]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [35]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [36]:
canada_7_1=pd.read_clipboard()

canada_7_1 = canada_7_1.T.reset_index().T

canada_7_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_7_1 = canada_7_1.reset_index(drop=True)

canada_7_1_bien = canada_7_1.iloc [-1:]

canada_7_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Mostly Sunny,21,7,40,SW 20,1017,48,NaN

In [342]:
# Agosto

In [37]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/08/01'

In [38]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [39]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [40]:
canada_8_1=pd.read_clipboard()

canada_8_1 = canada_8_1.T.reset_index().T

canada_8_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_8_1 = canada_8_1.reset_index(drop=True)

canada_8_1_bien = canada_8_1.iloc [-1:]

canada_8_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Partly Cloudy,25,15,54,E 17,1017,48,NaN

In [347]:
# Septiembre

In [41]:
url = 'https://www.aerisweather.com/weather/local/gb/london/history/2022/09/01'

In [42]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [43]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [44]:
canada_9_1=pd.read_clipboard()

canada_9_1 = canada_9_1.T.reset_index().T

canada_9_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_9_1 = canada_9_1.reset_index(drop=True)

canada_9_1_bien = canada_9_1.iloc [-1:]

canada_9_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Sunny,23,12,50,E 26,1018,10,0.0

In [45]:
uk_clima = pd.concat([canada_1_1_bien, canada_2_1_bien, canada_3_1_bien, canada_4_1_bien, canada_5_1_bien, canada_6_1_bien, canada_7_1_bien, canada_8_1_bien, canada_9_1_bien], axis=0)

uk_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
32,16:20,NaN,Mostly Cloudy,14,10,77,SW 15,1016,48,NaN
32,16:20,NaN,Partly Cloudy,14,6,59,W 30,1020,48,NaN
32,16:20,NaN,Cloudy with Light Rain,8,7,93,ENE 15,1025,9,NaN
32,16:20,NaN,Partly Cloudy with Light Rain,5,-1,66,ENE 24,1018,48,NaN
32,16:20,NaN,Mostly Cloudy,14,6,59,VRB 13,1022,48,NaN
32,16:20,NaN,Mostly Sunny,17,6,49,W 9,1018,48,NaN
32,16:20,NaN,Mostly Sunny,21,7,40,SW 20,1017,48,NaN
32,16:20,NaN,Partly Cloudy,25,15,54,E 17,1017,48,NaN
32,16:20,NaN,Sunny,23,12,50,E 26,1018,10,0.0

In [46]:
uk_clima['date_weather'] = ('2022-1-1', '2022-2-1', '2022-3-1', '2022-4-1', '2022-5-1', '2022-6-1', '2022-7-1', '2022-8-1', '2022-9-1')

uk_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather
32,16:20,NaN,Mostly Cloudy,14,10,77,SW 15,1016,48,NaN,2022-1-1
32,16:20,NaN,Partly Cloudy,14,6,59,W 30,1020,48,NaN,2022-2-1
32,16:20,NaN,Cloudy with Light Rain,8,7,93,ENE 15,1025,9,NaN,2022-3-1
32,16:20,NaN,Partly Cloudy with Light Rain,5,-1,66,ENE 24,1018,48,NaN,2022-4-1
32,16:20,NaN,Mostly Cloudy,14,6,59,VRB 13,1022,48,NaN,2022-5-1
32,16:20,NaN,Mostly Sunny,17,6,49,W 9,1018,48,NaN,2022-6-1
32,16:20,NaN,Mostly Sunny,21,7,40,SW 20,1017,48,NaN,2022-7-1
32,16:20,NaN,Partly Cloudy,25,15,54,E 17,1017,48,NaN,2022-8-1
32,16:20,NaN,Sunny,23,12,50,E 26,1018,10,0.0,2022-9-1

In [47]:
uk_clima['city_weather'] = 'London'

uk_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather,city_weather
32,16:20,NaN,Mostly Cloudy,14,10,77,SW 15,1016,48,NaN,2022-1-1,London
32,16:20,NaN,Partly Cloudy,14,6,59,W 30,1020,48,NaN,2022-2-1,London
32,16:20,NaN,Cloudy with Light Rain,8,7,93,ENE 15,1025,9,NaN,2022-3-1,London
32,16:20,NaN,Partly Cloudy with Light Rain,5,-1,66,ENE 24,1018,48,NaN,2022-4-1,London
32,16:20,NaN,Mostly Cloudy,14,6,59,VRB 13,1022,48,NaN,2022-5-1,London
32,16:20,NaN,Mostly Sunny,17,6,49,W 9,1018,48,NaN,2022-6-1,London
32,16:20,NaN,Mostly Sunny,21,7,40,SW 20,1017,48,NaN,2022-7-1,London
32,16:20,NaN,Partly Cloudy,25,15,54,E 17,1017,48,NaN,2022-8-1,London
32,16:20,NaN,Sunny,23,12,50,E 26,1018,10,0.0,2022-9-1,London

In [51]:
uk_clima.to_excel('uk_clima.xls', index=False)

/var/folders/x5/35_m562959z2k_v0h2llkrzr0000gn/T/ipykernel_29902/3246659643.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  uk_clima.to_excel('uk_clima.xls', index=False)