In [1]:
import requests as req

import pandas as pd

import numpy as np

from bs4 import BeautifulSoup

In [2]:
# Enero

In [3]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/01/01'

In [4]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [5]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [6]:
canada_1_1=pd.read_clipboard()

canada_1_1 = canada_1_1.T.reset_index().T

canada_1_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_1_1 = canada_1_1.reset_index(drop=True)

canada_1_1_bien = canada_1_1.iloc [-1:]

canada_1_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,6,-15,21,NNW 15,1020,48,NaN

In [312]:
# Febrero

In [7]:
url ='https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/02/01'

In [8]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [9]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [10]:
canada_2_1=pd.read_clipboard()

canada_2_1 = canada_2_1.T.reset_index().T

canada_2_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_2_1 = canada_2_1.reset_index(drop=True)

canada_2_1_bien = canada_2_1.iloc [-1:]

canada_2_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,9,-3,43,ESE 6,1012,48,NaN

In [317]:
# Marzo

In [11]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/03/01'

In [12]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [13]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [14]:
canada_3_1=pd.read_clipboard()

canada_3_1 = canada_3_1.T.reset_index().T

canada_3_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_3_1 = canada_3_1.reset_index(drop=True)

canada_3_1_bien = canada_3_1.iloc [-1:]

canada_3_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Cloudy,16,4,45,WSW 19,1008,48,NaN

In [322]:
# Abril

In [15]:
url ='https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/04/01'

In [16]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [17]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [18]:
canada_4_1=pd.read_clipboard()

canada_4_1 = canada_4_1.T.reset_index().T

canada_4_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_4_1 = canada_4_1.reset_index(drop=True)

canada_4_1_bien = canada_4_1.iloc [-1:]

canada_4_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,12,-10,21,NNW 20,1021,48,NaN

In [327]:
# Mayo

In [19]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/05/01'

In [20]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [21]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [22]:
canada_5_1=pd.read_clipboard()

canada_5_1 = canada_5_1.T.reset_index().T

canada_5_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_5_1 = canada_5_1.reset_index(drop=True)

canada_5_1_bien = canada_5_1.iloc [-1:]

canada_5_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
10,16:00,NaN,Mostly Cloudy with Light Showers,13,12,94,NNW 11,1007,4,NaN

In [332]:
# Junio

In [23]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/06/01'

In [24]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [25]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [26]:
canada_6_1=pd.read_clipboard()

canada_6_1 = canada_6_1.T.reset_index().T

canada_6_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_6_1 = canada_6_1.reset_index(drop=True)

canada_6_1_bien = canada_6_1.iloc [-1:]

canada_6_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,24,13,50,S 9,1007,48,NaN

In [337]:
# Julio

In [27]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/07/01'

In [28]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [29]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [30]:
canada_7_1=pd.read_clipboard()

canada_7_1 = canada_7_1.T.reset_index().T

canada_7_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_7_1 = canada_7_1.reset_index(drop=True)

canada_7_1_bien = canada_7_1.iloc [-1:]

canada_7_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
9,16:00,NaN,Mostly Sunny,30,25,75,S 20,1013,48,NaN

In [342]:
# Agosto

In [31]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/08/01'

In [32]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [33]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [34]:
canada_8_1=pd.read_clipboard()

canada_8_1 = canada_8_1.T.reset_index().T

canada_8_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_8_1 = canada_8_1.reset_index(drop=True)

canada_8_1_bien = canada_8_1.iloc [-1:]

canada_8_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,31,26,75,S 20,1011,48,NaN

In [347]:
# Septiembre

In [35]:
url = 'https://www.aerisweather.com/weather/local/jp/tokyo/history/2022/09/01'

In [36]:
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html>\n<head>\n \n\t\n\n\t<meta charset="utf-8">\n\t<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n\n\t\t\t\t\t<meta name="viewport" content="width=device-width, user-scalable=no">\n\t<meta name="referrer" content="no-referrer-when-downgrade">\n\t<meta name="google-site-verification" content="zaVWNz8Jzaz9v1j2VX5EGaHxVkyQVs7muWagH-FKm9g" />\n\n\n\n\t<meta name="twitter:card" content="summary" />\n\t<meta name="twitter:site" content="@AerisWeather" />\n\t<meta name="facebook-domain-verification" content="2xslsk2ga5vhyb34835hlozadsli9s" />\n\n\t<link href="//www.aerisweather.com/css/styles.css?v=2022081502" rel="stylesheet" type="text/css">\n\t\n\t<script type="text/javascript">\n\tvar AerisWx = { rootUrl: \'//www.aerisweather.com\' };\n\twindow.dataLayer = window.dataLayer || [];\n\n\t</script>\n\t\n\n\n\n<!-- Google Tag Manager (Prod) -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':\nnew Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl='

In [37]:
soup= BeautifulSoup(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [38]:
canada_9_1=pd.read_clipboard()

canada_9_1 = canada_9_1.T.reset_index().T

canada_9_1.columns = ["Hour","Borrar","Climate","Temp","Dew Point","Humidity","Winds","Pressure","Visibility", "Precip"]

canada_9_1 = canada_9_1.reset_index(drop=True)

canada_9_1_bien = canada_9_1.iloc [-1:]

canada_9_1_bien

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
10,16:00,NaN,Partly Cloudy,28,26,89,S 15,1010,10,0.0

In [39]:
japon_clima = pd.concat([canada_1_1_bien, canada_2_1_bien, canada_3_1_bien, canada_4_1_bien, canada_5_1_bien, canada_6_1_bien, canada_7_1_bien, canada_8_1_bien, canada_9_1_bien], axis=0)

japon_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip
8,16:00,NaN,Mostly Sunny,6,-15,21,NNW 15,1020,48,NaN
8,16:00,NaN,Mostly Sunny,9,-3,43,ESE 6,1012,48,NaN
8,16:00,NaN,Mostly Cloudy,16,4,45,WSW 19,1008,48,NaN
8,16:00,NaN,Mostly Sunny,12,-10,21,NNW 20,1021,48,NaN
10,16:00,NaN,Mostly Cloudy with Light Showers,13,12,94,NNW 11,1007,4,NaN
8,16:00,NaN,Mostly Sunny,24,13,50,S 9,1007,48,NaN
9,16:00,NaN,Mostly Sunny,30,25,75,S 20,1013,48,NaN
8,16:00,NaN,Mostly Sunny,31,26,75,S 20,1011,48,NaN
10,16:00,NaN,Partly Cloudy,28,26,89,S 15,1010,10,0.0

In [40]:
japon_clima['date_weather'] = ('2022-1-1', '2022-2-1', '2022-3-1', '2022-4-1', '2022-5-1', '2022-6-1', '2022-7-1', '2022-8-1', '2022-9-1')

japon_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather
8,16:00,NaN,Mostly Sunny,6,-15,21,NNW 15,1020,48,NaN,2022-1-1
8,16:00,NaN,Mostly Sunny,9,-3,43,ESE 6,1012,48,NaN,2022-2-1
8,16:00,NaN,Mostly Cloudy,16,4,45,WSW 19,1008,48,NaN,2022-3-1
8,16:00,NaN,Mostly Sunny,12,-10,21,NNW 20,1021,48,NaN,2022-4-1
10,16:00,NaN,Mostly Cloudy with Light Showers,13,12,94,NNW 11,1007,4,NaN,2022-5-1
8,16:00,NaN,Mostly Sunny,24,13,50,S 9,1007,48,NaN,2022-6-1
9,16:00,NaN,Mostly Sunny,30,25,75,S 20,1013,48,NaN,2022-7-1
8,16:00,NaN,Mostly Sunny,31,26,75,S 20,1011,48,NaN,2022-8-1
10,16:00,NaN,Partly Cloudy,28,26,89,S 15,1010,10,0.0,2022-9-1

In [41]:
japon_clima['city_weather'] = 'Tokyo'

japon_clima

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather,city_weather
8,16:00,NaN,Mostly Sunny,6,-15,21,NNW 15,1020,48,NaN,2022-1-1,Tokyo
8,16:00,NaN,Mostly Sunny,9,-3,43,ESE 6,1012,48,NaN,2022-2-1,Tokyo
8,16:00,NaN,Mostly Cloudy,16,4,45,WSW 19,1008,48,NaN,2022-3-1,Tokyo
8,16:00,NaN,Mostly Sunny,12,-10,21,NNW 20,1021,48,NaN,2022-4-1,Tokyo
10,16:00,NaN,Mostly Cloudy with Light Showers,13,12,94,NNW 11,1007,4,NaN,2022-5-1,Tokyo
8,16:00,NaN,Mostly Sunny,24,13,50,S 9,1007,48,NaN,2022-6-1,Tokyo
9,16:00,NaN,Mostly Sunny,30,25,75,S 20,1013,48,NaN,2022-7-1,Tokyo
8,16:00,NaN,Mostly Sunny,31,26,75,S 20,1011,48,NaN,2022-8-1,Tokyo
10,16:00,NaN,Partly Cloudy,28,26,89,S 15,1010,10,0.0,2022-9-1,Tokyo

In [43]:
japon_clima.to_excel('japon_clima.xls', index=False)

/var/folders/x5/35_m562959z2k_v0h2llkrzr0000gn/T/ipykernel_30406/4137815139.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  japon_clima.to_excel('japon_clima.xls', index=False)