In [54]:
import requests as req

import pandas as pd

import numpy as np

from bs4 import BeautifulSoup

In [55]:
canada=pd.read_excel('../weather/canada_clima.xls')
usa=pd.read_excel('../weather/usa_clima.xls')
argentina=pd.read_excel('../weather/argentina_clima.xls')
colombia=pd.read_excel('../weather/colombia_clima.xls')
spain=pd.read_excel('../weather/spain_clima.xls')
uk=pd.read_excel('../weather/uk_clima.xls')
alemania=pd.read_excel('../weather/alemania_clima.xls')
australia=pd.read_excel('../weather/australia_clima.xls')
korea=pd.read_excel('../weather/korea_clima.xls')
japon=pd.read_excel('../weather/japon_clima.xls')

In [56]:
weather_1 = pd.concat([canada, usa, argentina, colombia, spain, uk, alemania, australia, korea, japon], axis=0)

weather_1

,Hour,Borrar,Climate,Temp,Dew Point,Humidity,Winds,Pressure,Visibility,Precip,date_weather,city_weather
0,16:00,NaN,Cloudy,1.0,-1.0,87,NNW 19,1008,19,NaN,2022-1-1,Ottawa
1,16:00,NaN,Mostly Cloudy,-7.0,-13.0,63,E 22,1026,24,NaN,2022-2-1,Ottawa
2,16:00,NaN,Cloudy with Light Snow,-10.0,-13.0,79,ENE 9,1012,10,NaN,2022-3-1,Ottawa
3,16:00,NaN,Windy with Snow Showers Likely,2.0,-2.0,75,WNW 31,1003,10,NaN,2022-4-1,Ottawa
4,16:00,NaN,Mostly Cloudy,19.0,0.0,28,SE 11,1017,24,NaN,2022-5-1,Ottawa
...,...,...,...,...,...,...,...,...,...,...,...,...
4,16:00,NaN,Mostly Cloudy with Light Showers,13.0,12.0,94,NNW 11,1007,4,NaN,2022-5-1,Tokyo
5,16:00,NaN,Mostly Sunny,24.0,13.0,50,S 9,1007,48,NaN,2022-6-1,Tokyo
6,16:00,NaN,Mostly Sunny,30.0,25.0,75,S 20,1013,48,NaN,2022-7-1,Tokyo
7,16:00,NaN,Mostly Sunny,31.0,26.0,75,S 20,1011,48,NaN,2022-8-1,Tokyo
8,16:00,NaN,Partly Cloudy,28.0,26.0,89,S 15,1010,10,0.0,2022-9-1,Tokyo

In [60]:
weather = weather_1.drop(['Hour', 'Borrar', 'Precip', 'Dew Point'], axis =1)

weather

,Climate,Temp,Humidity,Winds,Pressure,Visibility,date_weather,city_weather
0,Cloudy,1.0,87,NNW 19,1008,19,2022-1-1,Ottawa
1,Mostly Cloudy,-7.0,63,E 22,1026,24,2022-2-1,Ottawa
2,Cloudy with Light Snow,-10.0,79,ENE 9,1012,10,2022-3-1,Ottawa
3,Windy with Snow Showers Likely,2.0,75,WNW 31,1003,10,2022-4-1,Ottawa
4,Mostly Cloudy,19.0,28,SE 11,1017,24,2022-5-1,Ottawa
...,...,...,...,...,...,...,...,...
4,Mostly Cloudy with Light Showers,13.0,94,NNW 11,1007,4,2022-5-1,Tokyo
5,Mostly Sunny,24.0,50,S 9,1007,48,2022-6-1,Tokyo
6,Mostly Sunny,30.0,75,S 20,1013,48,2022-7-1,Tokyo
7,Mostly Sunny,31.0,75,S 20,1011,48,2022-8-1,Tokyo
8,Partly Cloudy,28.0,89,S 15,1010,10,2022-9-1,Tokyo

In [61]:
weather['id_weather']=np.arange(1,len(weather)+1)
weather

,Climate,Temp,Humidity,Winds,Pressure,Visibility,date_weather,city_weather,id_weather
0,Cloudy,1.0,87,NNW 19,1008,19,2022-1-1,Ottawa,1
1,Mostly Cloudy,-7.0,63,E 22,1026,24,2022-2-1,Ottawa,2
2,Cloudy with Light Snow,-10.0,79,ENE 9,1012,10,2022-3-1,Ottawa,3
3,Windy with Snow Showers Likely,2.0,75,WNW 31,1003,10,2022-4-1,Ottawa,4
4,Mostly Cloudy,19.0,28,SE 11,1017,24,2022-5-1,Ottawa,5
...,...,...,...,...,...,...,...,...,...
4,Mostly Cloudy with Light Showers,13.0,94,NNW 11,1007,4,2022-5-1,Tokyo,86
5,Mostly Sunny,24.0,50,S 9,1007,48,2022-6-1,Tokyo,87
6,Mostly Sunny,30.0,75,S 20,1013,48,2022-7-1,Tokyo,88
7,Mostly Sunny,31.0,75,S 20,1011,48,2022-8-1,Tokyo,89
8,Partly Cloudy,28.0,89,S 15,1010,10,2022-9-1,Tokyo,90

In [62]:
first_column = weather.pop('id_weather') 
  
weather.insert(0, 'id_weather', first_column)
weather

,id_weather,Climate,Temp,Humidity,Winds,Pressure,Visibility,date_weather,city_weather
0,1,Cloudy,1.0,87,NNW 19,1008,19,2022-1-1,Ottawa
1,2,Mostly Cloudy,-7.0,63,E 22,1026,24,2022-2-1,Ottawa
2,3,Cloudy with Light Snow,-10.0,79,ENE 9,1012,10,2022-3-1,Ottawa
3,4,Windy with Snow Showers Likely,2.0,75,WNW 31,1003,10,2022-4-1,Ottawa
4,5,Mostly Cloudy,19.0,28,SE 11,1017,24,2022-5-1,Ottawa
...,...,...,...,...,...,...,...,...,...
4,86,Mostly Cloudy with Light Showers,13.0,94,NNW 11,1007,4,2022-5-1,Tokyo
5,87,Mostly Sunny,24.0,50,S 9,1007,48,2022-6-1,Tokyo
6,88,Mostly Sunny,30.0,75,S 20,1013,48,2022-7-1,Tokyo
7,89,Mostly Sunny,31.0,75,S 20,1011,48,2022-8-1,Tokyo
8,90,Partly Cloudy,28.0,89,S 15,1010,10,2022-9-1,Tokyo

In [66]:
weather.to_excel('weather.xls', index=False)

/var/folders/x5/35_m562959z2k_v0h2llkrzr0000gn/T/ipykernel_32920/3030070785.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  weather.to_excel('weather.xls', index=False)